.products-outer {
  margin-left: 160px;
  margin-right: 160px;
}

.products-heading {
  text-align: left;
  color: #1a181e;
  margin-top: 80px;
}
.product-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 352px;
  margin-top: 32px;
}
.product-name {
  color: #1a181e;
}
.product-description {
  color: #4d4d4d;
  margin: 0px;
  text-align: left;
}

.cards-outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
